{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block header %}
    {% include 'includes/_adminNavbar.html.twig' %}
{% endblock %}

{% block content %}
    <section class="competitions">
        <h2 class="title-light">Compétitions à venir</h2>
        <div class="container">
            <div class="row">
                <div class="competition-button-add col-1 offset-7 offset-sm-9 offset-lg-10 mb-lg-5">
                    <button type="button" class="btn btn-primary button-light" data-toggle="modal" data-target="#modalForm{{ competition.id }}">Ajouter</button>
                </div>
                <div>
                    <div class="modal fade" id="modalForm{{ competition.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une nouvelle compétition</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form action="/AdminCompetition/add" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="id" value="{{ competition.id }}">
                                        <ul>
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                        </ul>
                                        <div>
                                            <label for="picture">Image</label>
                                            <input type="file" name="picture" id="picture">
                                        </div>
                                        <div>
                                            <label for="title">Titre</label>
                                            <input type="text" name="name" id="title">
                                        </div>
                                        <div>
                                            <label for="content">Contenu</label>
                                            <input type="text" name="description" id="content">
                                        </div>
                                        <div>
                                            <label for="date">Date</label>
                                            <input type="date" name="date" id="date">
                                        </div>
                                        <div>
                                            <label for="address">Adresse</label>
                                            <input type="text" name="address" id="address">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-primary button-light">Ajouter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for competition in competitions %}
                <div class="competition-block row justify-content-center">
                    <div class="competition-picture col-12 mb-4 col-lg-4 mb-lg-5">
                        <img class="competition-img" src="/uploads/{{ competition.picture }}" alt="Image archive">
                    </div>
                    <div class="competition-description col-12 mb-4 col-lg-5">
                        <h3 class="card-title">{{ competition.name }}</h3>
                        <p class="competition-text">{{ competition.description }}</p>
                        <p class="competition-date icon-before-date">{{ competition.date|date("d m Y") }}</p>
                        <p class="competition-position icon-before-position">{{ competition.address }}</p>
                    </div>
                    <form class="competition-button-delete" action="/AdminCompetition/delete" method="post">
                        <div>
                            <input type="hidden" name="id" value="{{ competition.id }}">
                            <button class="btn btn-primary button-light">Supprimer</button>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascript %}
{% if errors is not empty %}
<script src="/assets/js/openModal.js"></script>
{% endif %}
{% endblock %}