{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/competition.css">
{% endblock %}

{% block content %}
    <table class="ranking-table">
        <tr>
            <th>Position</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Club</th>
            <th>Compétition</th>
            <th>Catégories</th>
            <th>Points</th>
            <th>Performance</th>
        </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.position }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.firstname }}</td>
                    <td>{{ item.club }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.points }}</td>
                    <td>{{ item.performance }}</td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}