{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block content %}
    <header class="contact-header">
        <h1 class="title-light">Contact</h1>
    </header>
    <section class="contact-informations">
        <div class="title-card">
            <img src="/assets/images/chess_icon/bishop.svg" alt="Pièce d'échec">
            <h2 class="contact-card-title title-dark">Nos informations</h2>
            <img src="/assets/images/chess_icon/bishop.svg" alt="Pièce d'échec">
        </div>
        <div class="row card-row">
            <div class="card-group">
                <div class="card align-items-center">
                    <img src="/assets/images/contact_icon/home-page_white.svg" class="card-img-top" alt="home icon">
                    <div class="card-body text-center">
                        <h3 class="card-title">Adresse</h3>
                        <p class="card-text">Complexe sportif Argonaute</p>
                        <p class="card-text">73 bld Marie Stuart</p>
                        <p class="card-text">45000 Orléans</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card align-items-center">
                    <img src="/assets/images/contact_icon/telephone_white.svg" class="card-img-top"
                         alt="telephone icon">
                    <div class="card-body text-center">
                        <h3 class="card-title">Téléphone</h3>
                        <p class="card-text">06.06.06.06.06</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card align-items-center">
                    <img src="/assets/images/contact_icon/email_white.svg" class="card-img-top" alt="email icon">
                    <div class="card-body text-center">
                        <h3 class="card-title">E-mail</h3>
                        <p class="card-text">contact@us-orleans-echecs.fr</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row form-contact" id="message">
        <form method="post" action="#message">
            <div class="form-title">
                <img src="/assets/images/chess_icon/chess-knight.svg" alt="Pièce d'échec">
                <h2 class="contact-form-title title-light">Contactez-nous</h2>
                <img src="/assets/images/chess_icon/chess-knight-reverse.png" alt="Pièce d'échec">
            </div>
            <div class="col-md-6 offset-md-3">
                {% for error in errors %}
                    <p class="errors">{{ error }}</p>
                {% endfor %}
                <div class="form-group">
                    <label for="lastname">Nom</label>
                    <input type="text" class="lastname form-control" id="lastname" name="lastname"
                           placeholder="Martin" value="{{ message.lastname ?? '' }}" required>
                </div>
                <div class="form-group">
                    <label for="firstname">Prénom</label>
                    <input type="text" class="firstname form-control" id="firstname" name="firstname"
                           placeholder="Paul" value="{{ message.firstname ?? '' }}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="email form-control" id="email" name="email"
                           placeholder="paul.martin@email.fr" value="{{ message.email ?? '' }}" required>
                </div>
                <div class="form-group">
                    <label for="subject">Objet</label>
                    <select id="subject" class="subject custom-select" name="subject">
                        {% for subject in subjects %}
                            <option
                                    {% if message.subject is not empty and subject.value == message.subject %}
                                        selected
                                    {% endif %}
                                    value="{{ subject.value }}"
                            >
                                {{ subject.name }}
                            </option>
                            {{ subjectvalue }}
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group">
                    <textarea class="form-control message" name="message"
                              placeholder="Votre message" required>{{ message.message ?? '' }}</textarea>
                </div>
                <div class="col button">
                    <button class="button-dark">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
    <section class="map-schedule">
        <div class="find-us">
            <img src="/assets/images/chess_icon/chess-pawn.svg" alt="Pièce d'échec">
            <h2 class="schedule-title title-dark">Retrouvez-nous</h2>
            <img src="/assets/images/chess_icon/chess-pawn.svg" alt="Pièce d'échec">
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2674.310606993182!2d1.9295818158941862!3d47.91102717489111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4fb54772611e5%3A0xb3e9f4578dfca35c!2sL&#39;Argonaute%20-%20Complexe%20Sportif%20Et%20Culturel!5e0!3m2!1sfr!2sfr!4v1604346929346!5m2!1sfr!2sfr"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
            <div class="col-md-4 offset-md-2">
                <h3>Nos horaires</h3>
                <p>Lundi : fermé</p>
                <p>Mardi : 17h - 19h</p>
                <p>Mercredi : 15h - 18h</p>
                <p>Jeudi : 9h45 - 11h45 -- 17h - 19h</p>
                <p>Vendredi : 14h30 - 16h30</p>
                <p>Samedi : 14h - 18h30</p>
                <p>Dimanche : fermé</p>
            </div>
        </div>
    </section>
{% endblock %}
